.header-top {
    height:25px;
    width:100%;
    margin:0;
    background-color: rgba(0, 128, 21, 0.582);
    border-radius: 10px 10px 0 0;
    margin-top: -1px;
}
.backgroundStylingDashboard {
  background-image: linear-gradient(to right,rgba(0, 217, 255, 0.8), rgba(126,213,111,0.8));
  background-size: cover;
  background-position: top;
  position: relative;
}
.dash-card {
    width: 100% !important;
    border-radius: 10px !important;
    height: 97vh;
    margin-top: 3vh;
}
.form-layout{
    background-color: #fff;
    border: 1px solid lightgray;
    border-left-color: white;
    height: 200px;
}
.adv-fil {
    display: block;
    text-align: center;
}
.adv-filter-text {
    border: 1px solid lightgray;
    border-top: none;
    color: grey;
}
.search-card {
    width: 100% !important;
    border-radius: 10px !important;
}
.add-emp-btn {
    font-size: xx-small !important;
    color: rgb(0, 255, 234) !important;
    border: 1px solid  rgb(0, 255, 234) !important;
    font-weight: bold !important;
    background-color: white !important;
}
.emp-dir-text {
    color: grey;
    font-family: serif;
}
.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .name-search {
      border: 1px solid lightgray;
  }
  .name-filter {
      border: 0;
  }
  .name-filter:focus {
    outline: none !important;
}
  
  .input-box {
      background-color: white !important;
      border: 0 !important;
  }
  .input-label {
      color: grey;
      font-size: 13px;
  }
  .dep-select {
    border-radius: 0 !important;
    margin-top: 1px;
  }
  .table-heading {
      font-size: 12px;
      border-top: none !important;
  }
  .emp-role {
      font-size:smaller;
      color: grey
  }
  .green-dot {
        height: 9px;
        width: 9px;
        background-color: rgb(0, 255, 234);
        border-radius: 50%;
        display: inline-block;
  }
  .red-dot {
    height: 9px;
    width: 9px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
}
.avail-color {
    color: rgb(0, 255, 234);
    font-weight: 500;
}
.not-avail-color {
    color:red;
    font-weight: 500;
}
.search-results-div {
      padding: 30px;
      padding-top: 10px;
      padding-right: 0;
}
.search-results-table {
    overflow: auto;
    height: 277px;
}
.dropdown-alpha {
    font-size: 13px !important;
    padding: 0 !important;
}
.selected-row {
    border: 1px solid lightgray;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.emp-det {
    padding-top: 10px;
    font-weight: 500;
    font-family: inherit;
    font-size: medium;
}
.cont-inf {
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-family: cursive;
    font-weight: 500;
}
.cont-inf-data {
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-family: cursive;
    font-weight: 500;
    font-size: 15px;
    color: grey;
}
.social-icon {
    height: 30px !important;
    width:30px !important;
}
.social-icon-row {
    text-align: center;
    padding: 8px;
    margin: 0;
    margin-left: 0px !important;
}