.header-top {
    height:25px;
    width:100%;
    margin:0;
    background-color: rgba(0, 128, 21, 0.582);
    border-radius: 10px 10px 0 0;
    margin-top: -1px;
}
.dash-card {
    width: 100% !important;
    border-radius: 10px !important;
    height: 90vh
}
.form-layout{
    background-color: #fff;
    border: 1px solid lightgray;
    border-left-color: white;
    height: 200px;
}
.adv-fil {
    display: block;
    text-align: center;
}
.adv-filter-text {
    border: 1px solid lightgray;
    border-top: none;
    color: grey;
}
.search-card {
    width: 100% !important;
    border-radius: 10px !important;
}
.add-emp-btn {
    font-size: xx-small !important;
    color: rgb(0, 255, 234) !important;
    border: 1px solid  rgb(0, 255, 234) !important;
    font-weight: bold !important;
    background-color: white !important;
}
.emp-dir-text {
    color: grey;
    font-family: serif;
}
.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .name-search {
      border: 1px solid lightgray;
  }
  .input-box {
      background-color: white !important;
      border: 0 !important;
  }
  .input-label {
      color: grey;
      font-size: 13px;
  }
  .dep-select {
    border-radius: 0 !important;
    margin-top: 1px;
  }