.navbar-form a{
		color:white !important;
}
body{
	font-family:Roboto,sans-serif;
	background:grey;
}
nav>div.container{
	margin-left: 0;
	margin-right: 0;
	width:auto;
}
.form-layout{
	background-color: #fff;
}
.panel-heading{
	overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    text-align: left;
}
.panel-heading-left {
    float: left;
    /* width: 75%; */
    padding-top: 25px;
}
#divLogin {
	font-family: "Helvetica";
}
.panel-heading-right{
	float: left;
  width: 25%;
  padding-top: 30px;
  font-size: 70px;
  color: #eee;
  line-height: 100px;
  text-align: right;
}
.panel-body{
	padding: 80px;
	background: white;
	text-align: left;
}
.form-control{
	height: 50px;
}
#react>div>div.container-fluid{
	padding-left:0;
	padding-right:0;
}
.row{
	width:100%
}
.navbar{
	border-radius:0 !important;
}
.navbar-inverse{
	background-color:#485769;
	border-bottom-color: #2b72bb;
}
.navbar-inverse .btn-link{
	color:white;
}
.navbar-brand{
	padding-top:0;
}
.col-sm-4>div{
	color:#969696;
}
i{
	font-size:36px;
}
i+div{
	font-size: 20px;
}
.details-border{

}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  bottom: -75px;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #e7e7e7;
	border-top:1px solid #ddd;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid {
  padding: 60px 15px 0;
}
.container-fluid .text-muted {
  margin: 20px 0;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
/* sticky footer ends*/
.details-border-left{
	border:1px solid #e4e4e4;
	border-left:none;
}
.details-border{
	border:1px solid #e4e4e4;
}
.details-border-right{
	border:1px solid #e4e4e4;
	border-right:none;
}
.row-details{
	margin-left:0px !important;
}
footer .text-muted{
	margin-top:10px;
}
div.container-fluid{
	margin-bottom:5px;
}
.jumbotron{
	background-color: rgba(238,238,238,0.7);
}
.chat-notify{
	background-color: grey;
	color:white;
	font-style: italic;
}
.message-section textarea{
	color:#2874F0 !important;
}
.message-list{
	background: ghostwhite;
}
.navbar-form{
	padding-top:10px;
}
body{
	font-family:verdana;
}
footer .row{
	padding-left:10px;
	padding-top:5px;
}
.thumbnail{
	min-height: 405px;
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail > img{
	margin-right:auto;
	margin-left:auto;
	display:block;
}
.caption h3 {
	font-size:24px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.caption h4 {
	font-size:18px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
	font-weight: 200;
	font-family: Helvetica;
}
.jumbotron h1 {
	font-size: 63px;
	font-family: Helvetica;
}
#btn-lg {
	padding: 10px 16px ;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.form-control1 {
	height: 46px !important;
	padding: 10px 16px !important;
	font-size: 18px !important;
	line-height: 1.3333333 !important;
	border-radius: 6px !important;
}

@media (min-width: 768px){
	.navbar-nav>li>a{
		padding-top:25px !important;
		padding-bottom:25px !important;
	}
}

/*Textarea width*/
textarea.form-control{
	width:90% !important;
}

.review-header{
	margin-top:5px;
	margin-bottom:20px;
	text-align:center;
}


